* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

main {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin-inline: auto;
  gap: 0.5rem;

  /* border: 1px solid red; */
}

main > div {
  width: 50%;
}

.img__container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  position: relative;
  left: 65px;
}

#img__container-img {
  height: auto;
  max-width: 60%;
  min-width: 230px;

  border-radius: 100%;
}

#img__container-text {
  font-weight: bold;
  font-size: 0.7rem;
}

.text__container {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 250px;
}

#text__container-text {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#text__container-para {
  font-weight: 500;
  font-size: 0.9rem;
}

button {
  padding: 10px 35px;
  margin-top: 0.8rem;
  background-color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
  color: white;
}

button:hover {
  background-color: transparent;
  color: black;
}

@media (max-width: 725px) {
  main {
    flex-direction: column;
    align-items: center;
    padding-inline: .5rem;
  }

  .img__container {
    position: initial;
    left: initial;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
  }

  #img__container-img {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }

  main > div {
    width: initial;
  }

}
